extends base

block content

	h1 Details for 
		span#flowerName #{name}
	
	p Editable fields are underlined and will turn purple when you hover over them.

	if image
		img(src="/images/#{image}")
	else
		i (Sorry, no image available for #{name}.)

	p 
		span #{name}
		span#updated &#32;is &#32;
		span#flowerColor.databaseField #{color}

	if wiki
		p Visit this flower's Wikipedia page at the following link,
		a(href="#{wiki}") #{wiki}
	else
		i (Sorry, there is no wiki link available for this flower.)

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/changeFlowerColor.js")